mixin nav(className, items, hrefs)
	nav(class='nav ' + `${className}`)
		ul(class='nav__list ' + `${className}__list`)
			each item, ndx in items
				li(class='nav__item '  + `${className}__item`)
					a(class='nav__link ' + `${className}__link`, href=`${hrefs[ndx]}`)= item


mixin socials(className,socials, hrefs)
	ul(class='socials ' + `socials_${className}`)
		each social, ndx in socials
			li(class='socials__item ' + `socials__item_${className}`)
				a(class='socials__link ' + `socials__link_${social}` href=`${hrefs[ndx]}`, target='_blank')
					svg(class='socials__pic ' + `socials__pic_${className}`)
						use(xlink:href=`assets/img/sprite.svg#${social}`)

mixin reviews(reviews, activeItem)
	#reviews__carousel.carousel.slide(data-ride="carousel")
		ul.reviews__list.carousel-inner(role="listbox")
			each review, ndx in reviews
				li(class='item reviews__item ' + ( (ndx === activeItem ) ? 'active' : ' '))
					p= review
		a(class="left carousel-control carousel-control_reviews" href="#reviews__carousel" data-slide="prev" role="button")
			svg.control_reviews__svg
				use(xlink:href='assets/img/sprite.svg#left-chevron')
		a(class="right carousel-control carousel-control_reviews" href="#reviews__carousel" data-slide="next" role="button")
			svg.control_reviews__svg
				use(xlink:href='assets/img/sprite.svg#right-chevron')