//контентная часть статей
include ./_articles

aside(class='sidebar ' + `sidebar_${pageName}`)
	svg.sidebar__button
		use(xlink:href="assets/img/sprite.svg#point")
	.sidebar_prog__wrap
		each prog, key in progs
			-
				var sidebarListClassName = ''
				if (key == 'creatives')
				sidebarListClassName='sidebar__list active'
				else
				sidebarListClassName='sidebar__list'

			ul(class=sidebarListClassName)
				each item, key in prog
					li.sidebar__item
						-
							var sidebarLinkClassName = ''
							if (key == 'baraban')
							sidebarLinkClassName='sidebar__link active'
							else
							sidebarLinkClassName='sidebar__link'
						a(href=`#${key}` class=sidebarLinkClassName)= item.title

		.sidebar_prog__main-wrap
			ul.sidebar_prog__main-list
				li.sidebar_prog__main-item.active
					a.sidebar_prog__main-link(href="#")
						svg.sidebar_prog__main-icon
							use(xlink:href="assets/img/sprite.svg#paper-plane")
						h2.sidebar_prog__main-link-name Творческий тимбилдинг
				li.sidebar_prog__main-item
					a.sidebar_prog__main-link(href="#")
						svg.sidebar_prog__main-icon
							use(xlink:href="assets/img/sprite.svg#brain")
						h2.sidebar_prog__main-link-name Интеллектуальный тимбилдинг
				li.sidebar_prog__main-item
					a.sidebar_prog__main-link(href="#")
						svg.sidebar_prog__main-icon
							use(xlink:href="assets/img/sprite.svg#trophy")
						h2.sidebar_prog__main-link-name Активный тимбилдинг
				li.sidebar_prog__main-item
					a.sidebar_prog__main-link(href="#")
						svg.sidebar_prog__main-icon
							use(xlink:href="assets/img/sprite.svg#route")
						h2.sidebar_prog__main-link-name Корпоративные квесты

